/*----------------------------------------*/
/*  Pagination CSS START
/*----------------------------------------*/
.pagination {
    display: flex;
    align-items: center;
    margin-top: clamp(16px, 2.083vw, 64px);
    margin-bottom: 0;
    gap: clamp(16px, 1.25vw, 32px);
    justify-content: center;
    @include media-query(575px) {
        gap: 12px;
    }
    li {
        a {
            width: clamp(40px, 3vw, 84px);
            height: clamp(40px, 3vw, 84px);
            display: flex;
            align-items: center;
            justify-content: center;
            background: transparent;
            border: 1px solid $black;
            border-radius: 5px;
            color: $black;
            transition: $transition;
            padding: 0;
            @include media-query(400px) {
                width: 36px;
                height: 36px;
            }
            svg {
                transition: $transition;
                width: clamp(24px, 1.66vw, 48px);
                height: clamp(24px, 1.66vw, 48px);
                path {
                    stroke: $black;
                    transition: $transition;
                }
            }
            &.next,
            &.active,
            &:hover {
                transition: $transition;
                color: $white;
                background: $accent-1;
                svg{
                    path {
                        stroke: $white;
                        transition: $transition;
                    }
                }
            }
        }

    }
}
