<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Realtor - HTML Real Estate Template">

    <title>Realtor - HTML Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/media/favicon.png">

    <!-- All CSS files -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/vendor/all.min.css">
    <link rel="stylesheet" href="assets/css/vendor/slick.css">
    <link rel="stylesheet" href="assets/css/vendor/animate.min.css">
    <link rel="stylesheet" href="assets/css/vendor/jquery.magnific-popup.css">
    <link rel="stylesheet" href="assets/css/app.css">

</head>

<body>

    <main class="x-hidden">
        <!-- Coming Soon Area Start -->
        <section class="coming-soon">
            <div class="container-fluid">
                <div class="text-block py-80 wow fadeInUp" data-wow-delay="0.5s">
                    <img src="assets/media/logo-lg.png" alt="" class="logo">
                    <h6>We are Under Construction</h6>
                    <ul class="countdown unstyled">
                        <li><h1>365</h1><h6>Days</h6></li>
                        <li><h1>24</h1><h6>Hrs</h6></li>
                        <li><h1>60</h1><h6>Min</h6></li>
                        <li><h1>60</h1><h6>Sec</h6></li>
                    </ul>
                    <div>
                        <h5 class="mb-16">Subscribe to Our Newsletter</h5>
                        <p>Get notified when we are live</p>
                    </div>
                    <div class="newsletter-field-2">
                        <input type="email" name="newsletter" id="newsletter" placeholder="Your Email" required>
                        <button>
                            Subscribe
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <g clip-path="url(#clip0_3752_509)">
                                    <path d="M23.7939 0.205944C23.9928 0.404833 24.054 0.703239 23.9496 0.964239L14.9122 23.558C14.8088 23.8165 14.5626 23.9896 14.2843 23.9996C14.006 24.0094 13.7482 23.8542 13.6267 23.6037L9.30571 14.6943L0.39629 10.3733C0.15329 10.2554 -3.62396e-05 10.0093 -3.62396e-05 9.74077C-3.62396e-05 9.73242 0.000104904 9.72404 0.000432968 9.71564C0.0103245 9.43744 0.183432 9.19116 0.441946 9.0878L23.0356 0.0503178C23.2967 -0.0541191 23.595 0.00705338 23.7939 0.205944ZM14.1975 21.5581L21.3717 3.62256L10.6829 14.3114L14.1975 21.5581ZM2.44182 9.80241L9.68863 13.317L20.3774 2.62816L2.44182 9.80241Z"/>
                                </g>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div class="bg-primary p-2 text-center wow fadeInUp" data-wow-delay="0.8s">
                <img src="assets/media/bg/coming-soon.png" alt="">
            </div>
        </section>
        <!-- Coming Soon Area End -->


    </main>

    <!-- Mobile Menu Start -->
    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"></span>
            <div class="logo-box">
                <a href="index.html" aria-label="logo image"><img src="assets/media/logo.png" alt="" class="invisible"></a>
            </div>
            <div class="mobile-nav__container"></div>
            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fas fa-envelope"></i>
                    <a href="mailto:example@company.com">example@company.com</a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:+12345678">+123 (4567) -890</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Mobile Menu End -->
    <!-- back-to-top-start -->
    <a href="#" class="scroll-top">
        <svg class="scroll-top__circle" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </a>
    <!-- back-to-top-end -->
  
    <!-- Jquery Js -->
    <script src="assets/js/vendor/jquery-3.6.3.min.js"></script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <script src="assets/js/vendor/jquery-appear.js"></script>
    <script src="assets/js/vendor/jquery.nice-select.min.js"></script>
    <script src="assets/js/vendor/slick.min.js"></script>
    <script src="assets/js/vendor/jquery.countdown.min.js"></script>
    <script src="assets/js/vendor/wow.js"></script>
    <script src="assets/js/vendor/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/app.js"></script>

</body>

</html>