 <!-- Footer Section Start -->
 <footer class="footer bg-primary pb-80 mt-80 wow fadeInUp" data-wow-delay="0.5s">
    <!-- Footer Newsletter Start -->
    <div class="footer-newsletter mb-80">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-xl-9 col-md-12">
                    <!-- Newsletter Box Start -->
                    <div class="newsletter-box">
                        <div class="row align-items-center row-gap-4">
                            <div class="col-lg-6">
                                <!-- Section Title Start -->
                                <div class="newsletter-title">
                                    <h3 class="mb-8 color-primary">Receba nossa Newsletter</h3>
                                    <p>Receba conteúdos atualizados e novos imóveis sempre que disponibilizarmos.</p>
                                </div>
                                <!-- Section Title End -->
                            </div>

                            <div class="col-lg-6">
                                <!-- Newsletter Form Start -->
                                <form action="index.html">
                                    <div class="newsletter-field">
                                        <input type="email" name="newsletter" id="newsletter" placeholder="Your Email" required>
                                        <button>
                                            Inscreva-se
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                <g clip-path="url(#clip0_3752_509)">
                                                    <path d="M23.7939 0.205944C23.9928 0.404833 24.054 0.703239 23.9496 0.964239L14.9122 23.558C14.8088 23.8165 14.5626 23.9896 14.2843 23.9996C14.006 24.0094 13.7482 23.8542 13.6267 23.6037L9.30571 14.6943L0.39629 10.3733C0.15329 10.2554 -3.62396e-05 10.0093 -3.62396e-05 9.74077C-3.62396e-05 9.73242 0.000104904 9.72404 0.000432968 9.71564C0.0103245 9.43744 0.183432 9.19116 0.441946 9.0878L23.0356 0.0503178C23.2967 -0.0541191 23.595 0.00705338 23.7939 0.205944ZM14.1975 21.5581L21.3717 3.62256L10.6829 14.3114L14.1975 21.5581ZM2.44182 9.80241L9.68863 13.317L20.3774 2.62816L2.44182 9.80241Z"/>
                                                </g>
                                            </svg>
                                        </button>
                                    </div>
                                </form>
                                <!-- Newsletter Form End -->
                            </div>
                        </div>
                    </div>
                    <!-- Newsletter Box End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Newsletter End -->

    <!-- Mega Footer Start -->
    <div class="mega-footer ">
        <div class="container-fluid">
            <div class="row row-gap-4">
                <div class="col-lg-3">
                     <!--Footer About Start -->
                    <div class="footer-about">
                        <!-- Footer Logo Start -->
                        <div class="footer-logo mb-32">
                            <img style="filter: brightness(0) invert(1)" src="./template/{{theme}}/assets/media/logo-concretiza.png" alt="">
                        </div>
                        <!-- Footer Logo End -->
                        
                        <!-- Footer About Content Start -->
                        <div class="footer-about-content mb-32">
                            <p class="color-white">A Concretiza Construções e Imóveis tem a experiência e a qualificação pra te atender, entre em contato conosco.</p>
                        </div>
                        <!-- Footer About Content End -->

                        <!-- Footer Social Link Start -->
                        <div class="footer-social-links">
                            <ul class="unstyled">
                                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>							
                        <!-- Footer Social Link End -->
                    </div>
                    <!-- Footer About End -->
                </div>

                <div class="col-lg-3 col-md-6">
                    <!-- Footer Contact Info Start -->
                    <div class="footer-contact-info">
                        <h4 class="mb-32 color-white">Mais informações</h4>

                        <!-- Footer Contact Info Box Start -->
                        <div class="footer-contact-box">
                            <div class="footer-info-box">
                                <div class="icon-box">
                                    <img src="./template/{{theme}}/assets/media/icons/icon-location.svg" alt="">
                                </div>

                                <p>Avenida Dom Apparecido José Dias, nº 668, Cidade Satélite, Boa Vista/RR, Brasil</p>
                            </div>

                            <div class="footer-info-box">
                                <div class="icon-box">
                                    <img src="./template/{{theme}}/assets/media/icons/icon-phone.svg" alt="">
                                </div>

                                <p>+55 95 99118 9765</p>
                            </div>

                            <div class="footer-info-box">
                                <div class="icon-box">
                                    <img src="./template/{{theme}}/assets/media/icons/icon-email.svg" alt="">
                                </div>

                                <p>contato@concretizaimoveis.com</p>
                            </div>
                        </div>
                        <!-- Footer Contact Info Box End -->
                    </div>
                    <!-- Footer Contact Info End -->
                </div>

                <div class="col-lg-3 col-md-6">
                    <!-- Footer Quick Link Starts -->
                    <div class="footer-quick-links">
                        <h4 class="mb-32 color-white">Links rápidos</h4>
                        <ul class="unstyled">
                            <li><a href="{{url}}/home">Home</a></li>
                            <li><a href="{{url}}/search">Imóveis</a></li>
                            <li><a href="{{url}}/about">Sobre nós</a></li>
                            <li><a href="{{url}}/blogs">Blog</a></li>
                            <li><a href="{{url}}/contate-nos">Contate-nos</a></li>
                        </ul>
                    </div>
                    <!-- Footer Quick Link End -->
                </div>

                <div class="col-lg-3">
                    <!-- Footer Quick Link Starts -->
                    <div class="footer-appointment">
                        <h4 class="mb-32 color-white">Atendimento presencial</h4>
                        
                        <div class="footer-appointment-content">
                            <p class="mb-32 color-white">Agende um atendimento presencial e faça sua simulação de financiamento.</p>
                            <a href="contact.html" class="cus-btn sec">
                                Agendar atendimento
                            </a>
                        </div>
                    </div>
                    <!-- Footer Quick Link End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Mega Footer End -->
</footer>
<!-- Footer Section End -->

<!-- Footer Copyright Section Start -->
<div class="footer-copyright-links">
    <div class="container-fluid">
        <div class="row align-items-center row-gap-2">
            <div class="col-md-6">
                <!-- Footer Copyright Content Start -->
                <div class="footer-copyright text-md-start text-center">
                    <p>Copyright © 2024 Concretiza. Todos os direitos reservados.</p>
                </div>
                <!-- Footer Copyright Content End -->
            </div>

            <div class="col-md-6">
                <!-- Footer Policy Links Start -->
                <div class="footer-policy-links">
                    <ul class="text-md-end text-center">
                        <li><a href="#">Privacy & Policy</a></li>
                        <li><a href="#">Terms & Condition</a></li>
                    </ul>
                </div>
                <!-- Footer Policy Links End -->
            </div>
        </div>
    </div>
</div>
<!-- Footer Copyright Section End -->