<!-- Slider Item -->
{% for imovel in imoveis %}
<div class="property-card">
    <div class="img-block image-anime">
        {% if imovel.imagens|length > 0 %}
        <img class="property-img" src="{{ url }}/{{ imovel.imagens[0].imagem }}" style="height: 200px; width: 100%; object-fit: cover;" alt="">
        {% endif %}
        <a href="index.php?action=imovel&id={{imovel.id}}" class="detail-link">Ver detalhes</a>
        <img class="category-title-bg" src="./template/{{theme}}/assets/media/shapes/card-tag-bg.png" alt="">
        <h6 class="category-title">{{ imovel.categoria_imoveis }}</h6>
    </div>
    <div class="text-block">
        <a href="index.php?action=imovel&id={{imovel.id}}" class="title h5 mb-8">{{ imovel.titulo }}</a>
        <div class="location mb-24">
            <img src="./template/{{theme}}/assets/media/icons/location.svg" alt="">
            <span>Bairro {{ imovel.bairro }}</span>
        </div>
        <h6 class="price color-primary mb-24">R$ {{ imovel.preco }}</h6>
        <ul class="unstyled amenities">
            {% if imovel.quarto %}
            <li>
                <img src="./template/{{theme}}/assets/media/icons/bed.svg" alt="">
                <span>{{ imovel.quarto }} {{imovel.quarto == 1 ? 'Quarto' : 'Quartos'}}</span>
            </li>
            {% endif %}
            {% if imovel.banheiro %}
            <li>
                <img src="./template/{{theme}}/assets/media/icons/shower.svg" alt="">
                <span>{{ imovel.banheiro }} {{ imovel.banheiro == 1 ? 'Banheiro' : 'Banheiros' }}</span>
            </li>
            {% endif %}
            {% if imovel.area_construida %}
            <li>
                <img src="./template/{{theme}}/assets/media/icons/area.svg" alt="">
                <span>{{ imovel.area_construida }}m²</span>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
{% endfor %}