<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Pablo</p>
    {% for imovel in imoveis %}
    <div>
        <h2>{{ imovel.titulo }}</h2>
        {% for imagem in imovel.imagens %}
            <img src="https://painel.concretizaconstrucoes.com/{{ imagem.imagem }}" alt="{{ imagem.titulo }}">
        {% endfor %}
    </div>
    {% endfor %}

</body>
</html>