<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concretiza - Home</title>
    <link rel="icon" href="{{ icon }}" type="image/x-icon">
    {% include 'css/cdn_css.html' %}
    <link rel="stylesheet" href="./template/{{theme}}/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    
    {% include 'partials/navbar.html' %}
    {% include 'search_bar.html' %}

    <div class="container mt-5 mb-5">
        <h1 class="text-center mb-4 text-tile" style="font-family: 'Exo 2', sans-serif; font-weight: bold;">IMÓVEIS DISPONÍVEIS</h1>
        {% if imoveis['not-found'] is defined %}
            <p>{{ imoveis['not-found'] }}</p>
        {% else %}
            {% include 'card.html' %}
            
        {% endif %}
    </div>

    {% include 'partials/footer.html' %}
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.9/jquery.inputmask.min.js"></script>
    <script>
        $(document).ready(function() {
        $('#preco').inputmask({
            alias: 'numeric',
            groupSeparator: '.',
            radixPoint: ',',
            digits: 2,
            autoGroup: true,
            digitsOptional: false,
            allowMinus: false,
            rightAlign: true,
            unmaskAsNumber: true,
            placeholder: "0"
        });

        //função js para fazer a filtragem e busca de imoveis do lado do cliente    
        $(document).ready(function(){
            $('form').on('submit', function(e){
                e.preventDefault(); // Evita o comportamento padrão de recarregar a página

                $.ajax({
                    url: $(this).attr('action'), // A URL do seu backend que processa a pesquisa
                    type: 'GET',                 // Usamos GET porque estamos buscando imóveis
                    data: $(this).serialize(),    // Enviamos os parâmetros do formulário
                    success: function(response){
                        var resultados = $(response).find('#resultados-imoveis').html();

                        // Verifica se o conteúdo retornado está vazio
                        if ($.trim(resultados) === '') {
                            $('#resultados-imoveis').html('<p class="d-flex justify-content-center align-items-center">A sua busca não retornou nenhum resultado.</p>');
                        } else {
                            $('#resultados-imoveis').html(resultados);
                        }
                    },
                    error: function(){
                        alert('Erro ao carregar os imóveis.');
                    }
                });
            });
        });
    });
    
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% include '/js/cdn_js.html' %}
</body>
</html>