<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Imóvel</title>
    <!-- Style CSS -->
    <link rel="stylesheet" href="./template/{{theme}}/css/style.css">
    <!-- Demo CSS (No need to include it into your project) -->
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    {% include 'partials/navbar.html' %}
    

    <div class="container mt-5 mb-5">
        <h2 class="mb-2">DETALHES DO IMÓVEL</h2>
        <hr class="mb-1">
        <div class="row">
            <div class="col-md-6 mb-4">
                <span class="small"> Publicado em: {{imovel.created_at}} </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <!--<img src="imagens/{{ imovel.imagem_url }}" class="img-fluid" alt="Imagem do Imóvel">-->

                <main class="cd__main">
                    <!-- Start DEMO HTML (Use the following code into your project)-->
                    <img src="imagens/{{imovel.imagens|first.imagem}}" id="main">
                    
                    <div id="thumbnails">
                        {% for imagem in imovel.imagens %}
                        <img src="imagens/{{imagem.imagem}}">
                        {% endfor %}
                    </div>
                    <!-- END EDMO HTML (Happy Coding!)-->
                </main>

            </div>
            <div class="col-md-6">
                <h2>{{ titulo }}</h2>
                <p>{{ descricao|raw }}</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Preço:</strong> R$ {{ imovel.preco|number_format(2, ',', '.') }}
                    </li>
                    <li class="list-group-item"><strong>Área Construída:</strong> {{ imovel.area_construida }} m²</li>
                    <li class="list-group-item"><strong>Área do Terreno:</strong> {{ imovel.area_terreno }} m²</li>
                    <li class="list-group-item"><strong>Quartos:</strong> {{ imovel.quarto }}</li>
                    <li class="list-group-item"><strong>Banheiros:</strong> {{ imovel.banheiro }}</li>
                    <li class="list-group-item"><strong>Garagem:</strong> {{ imovel.garagem }}</li>
                    <li class="list-group-item"><strong>Cidade:</strong> {{ imovel.cidade }}</li>
                    <li class="list-group-item"><strong>UF:</strong> {{ imovel.uf }}</li>
                    <li class="list-group-item"><strong>Endereço:</strong> {{ imovel.logradouro }}, {{ imovel.num }} -
                        {{ imovel.bairro }}</li>
                    <li class="list-group-item"><strong>CEP:</strong> {{ imovel.cep }}</li>
                </ul>
            </div>
        </div>
        <div class="d-flex">
            <div class="ml-auto">
                <div class="mt-4">
                    <a href="index.php?action=home" class="btn btn-primary mb-4">Voltar à Listagem</a>
                </div>
            </div>
        </div>
    </div>
    
    {% include 'partials/footer.html' %}

    <script src="./template/{{theme}}/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>

</html>