<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index.php?action=home"><img src="./imagens/assets/brand_nav.svg" width="200px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link {% if active == 'home' %}active{% endif %}" href="index.php?action=home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if active == 'destaques' %}active{% endif %}" href="index.php?action=destaques">Destaques</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if active == 'venda' %}active{% endif %}" href="index.php?action=venda">Venda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#"></a>
        </li>
      </ul>
    </div>
  </nav>