/*----------------------------------------*/
/*  Banner CSS START
/*----------------------------------------*/
.hero-banner {
    position: relative;
    background: url(../media/banner/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .content {
        position: relative;
        z-index: 3;
        height: clamp(650px, 100vh, 2000px);
        display: grid;
        align-content: end;
        justify-content: center;
        gap: clamp(48px, 5vw, 180px);
        padding-bottom: 6.667vw;
        @include media-query(1199px) {
            padding-bottom: 0;
            padding-top: 100px;
            align-content: center;
        }
        .text-block{
            text-align: center;
            .title{
                br{
                    @include media-query(575px) {
                        display: none;
                    }
                }
            }
            p{
                br{
                    @include media-query(575px) {
                        display: none;
                    }
                }
            }
            .btn-block{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: clamp(24px, 1.66vw, 48px);
            }
        }
    }
    .find-banner-row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: clamp(20px, 1.66vw, 42px);
        gap: clamp(12px, 0.83vw, 24px);
        border-radius: 15px;
        width: fit-content;
        background: $white;
        @include media-query(1199px) {
            justify-content: center;
        }
        @include media-query(575px) {
            padding: 20px 16px;
        }
        .form-group{
            width: clamp(150px, 9.271vw, 300px);
            @include media-query(992px) {
                width: 32%;
            }
            @include media-query(575px) {
                width: 47%;
            }
        }
        button{
            @include media-query(992px) {
                width: 32%;
            }
            @include media-query(575px) {
                width: 47%;
            }
        }
    }
}

