/*----------------------------------------*/
/*  Testimonials CSS START
/*----------------------------------------*/
.testimonial-card{
    background-color: $white;
    position: relative;
    border-radius: 20px;
    text-align: center;
    padding: clamp(20px, 1.66vw, 42px);
    .quote-mark{
        width: clamp(20px, 1.66vw, 42px);
        path{
            fill: $light-black;
        }
    }
    .client{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: clamp(12px, 0.83vw, 20px);
        img{
            width: clamp(42px, 3.33vw, 84px);
        }
    }
}
.testimonials-block{
    width: 100%;
    background: url(../media/bg/properties-slider-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-color: $light-gray;
    border-radius: 30px 0 0 30px;
    padding: clamp(20px, 1.66vw, 42px);
    padding-right: 0;
    @include media-query(575px) {
        border-radius: 15px;
        padding: clamp(20px, 1.66vw, 42px) 10px ;
    }
    .testimonials-slider{
        .testimonial-card{
            margin: 0 12px;
            width: clamp(400px, 29.167vw, 700px);
            @include media-query(575px) {
                margin: 0 8px;
            }
        }
    }
}